.title {
  font: italic 700 35px 'Nunito';
  letter-spacing: -0.5px;
  margin-bottom: 12px;
  text-align: center;
  color: var(--black-col--);
}

.content {
  position: relative;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    height: 265px;
    list-style: none;


    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: rgba(0, 0, 0, 0.2);
    }


    li {
      margin: 0px 19px 40px;
      // height: 150px;

      .title_area {
        cursor: pointer;
        font-family: 'Nanum Gothic';
        font-size: 13px;
        font-weight: 600;
        display: flex;

        p {
          margin: 0px auto 10px;

          svg {
            margin: 0px 0px -3px 0px;
            font-size: 15px;
            color: var(--shadow-col--);
          }
        }

        .description {
          position: absolute;
          visibility: hidden;
          width: 130px;
          border-radius: 4px;
          background-color: var(--black-col--);
          color: white;
          text-align: center;
          margin: 6%;
          padding: 13px;
          opacity: 0;
          transition: opacity 0.3s;
        }

        .percentage {
          display: none;
        }

        &:hover .description {
          visibility: visible;
          opacity: 1;
        }

        &:hover svg {
          color: var(--blue-col--);
        }
      }

      .pieChart {
        display: flex;
        justify-content: center;

        svg {
          width: 85%;
        }
      }
    }
  }
}


@media (max-width: 480px) {
  .content {
    height: 100%;

    ul {
      display: block;
      height: 440px;

      li {
        .title_area {
          margin-bottom: 7px;
        }

        .pieChart {
          svg {
            width: 48%;
          }
        }
      }
    }
  }
}