.card {
  height: 400px;
  display: grid;
  width: 450px;
  background-color: white;
  padding:30px 29px 33px 33px;
  margin: calc(100vh/2 - 225px) auto 0;
  box-shadow: 10px 10px 10px var(--shadow-col--);

}

/* 미디어쿼리 */
@media (max-width: 768px) {
  .card{
    margin: 80px auto;
  }
}

@media (max-width: 480px) {
  .card{
    width: 90%;
    height: 550px;
    margin: 80px 5%;
    padding: 21px 21px 25px 21px;
    overflow: hidden;
  }
}
