.nav {
  font-family: 'Nunito', sans-serif;
  z-index: -1;
  position: fixed;
  display: flex;
  margin: -30px auto 0;
  left: calc(50% + 90px);

  a {
    margin: 0 5px;
    text-transform: uppercase;
    width: 55px;
    font-size: 10px;
    background-color: var(--blue-col--);
    box-shadow: 10px 10px 10px rgba(213, 213, 213, 0.975);
    padding: 10px 0px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

/* 미디어쿼리 */
/* 모바일 */
@media (max-width: 768px) {
  .nav {
    top: 30px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;

    a {
      width: 100%;
      margin: 0;

      &:first-child {
        border-radius: 0px;
      }

      &:last-child {
        border-radius: 0px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }


  }
}

/* 모바일 */
@media (max-width: 480px) {
  .nav {
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;

    a {
      width: 100%;
      margin: 0;
    }

    a:last-child {
      margin-top: -3px;
    }
  }
}