.header {
  display: flex;
  justify-content: space-between;
  margin-left: -5px;
  width: 390px;

  .title {
    width: 170px;
    font: italic 700 35px 'Nunito';
    letter-spacing: -0.5px;
    color: var(--red-col--);

    p {
      margin: 0;
      padding: 0;
      line-height: 38px;
    }
  }
}

.date {
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: var(--black-col--);

  .left_col {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3px;

    .month {
      margin-bottom: -2px;
    }
  }

  .right_col {
    font-size: 40px;
    font-weight: 500;
    line-height: 0.5rem;
  }
}

.content {
  margin-left: -5px;
}

/* 미디어쿼리 */
@media (max-width: 480px) {
  .header {
    width: 95%;

    .title {
      height:60px;
    }
  }

  .date {
    justify-content: end;
  }

}

/* 320px */
@media (max-width: 370px) {
  .header {
    justify-content: center;
    margin-left: 0;
  }

  .date {
    display: none;
  }

}
